# Template for a dev environment file.
#
# Usage: Make a copy of this file with the ".tmpl" extension removed, then
#        populate the variables below with your personalized values.

DOMAIN_NODE_HOST=localhost
DOMAIN_NODE_PORT=30080
# DOMAIN_TO_PROJECT_MAPPING_URL=https://one-click-domain-node-mappings-dev.s3.amazonaws.com/cheran-mappings.json

# Repository overrides -- uncomment and set any of the variables below
# if you want to build containers using locally checked out repositories
# instead of the canonical locations specified in docker-compose.yml.
#
# EARTHFAST_CONTRACTS_REPO=../../earthfast-contracts
# ARMADA_SERVICE_WORKER_REPO=../../service-worker

# To use CLI_BRANCH_NAME, push a new commit to earthfast-cli and set the branch name here
# CLI_BRANCH_NAME=branch-name

# IP_LOOKUP_API_KEY=<abstract ip api key>
